<div class="logo"><h4>MyFinance</h4></div>
<nav>
  <ul>
    <li><button (click)="showForm('income')">Add Income</button></li>
    <li><button (click)="showForm('cash')">Add Cash</button></li>
    <li><button (click)="showForm('expenses')">Add Expenses</button></li>
    <li><button (click)="showForm('savings')">Add Savings</button></li>
    <li><button (click)="showForm('owed')">Owed</button></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/settings">Settings</a></li>
  </ul>
</nav>
