<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 dash-container">
      <app-dashboard 
        [cash]="cash"
        [expenses]="expenses"
        [income]="income"
        [budget]="budget"
        [savings]="saving"
        [owing]="owing"
      ></app-dashboard>
      
      <!-- Overlay forms -->
      <div class="overlay-form" *ngIf="showIncomeForm">
        <app-income (incomeAdded)="onIncomeAdded()"></app-income>
      </div>
      <div class="overlay-form" *ngIf="showCashForm">
        <app-cash (cashAdded)="onCashAdded()"></app-cash>
      </div>
      <div class="overlay-form" *ngIf="showExpensesForm">
        <app-expenses (expenseAdded)="onExpenseAdded()"></app-expenses>
      </div>
      <div class="overlay-form" *ngIf="showSavingsForm">
        <app-savings (savingsAdded)="onSavingsAdded()"></app-savings>
      </div>      
      <div class="overlay-form" *ngIf="showOwedForm">
        <app-owed (owingAdded)="onOwingAdded()"></app-owed>
      </div>
    </div>
  </div>
</div>
